/* reset section */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a { text-decoration: none; outline: none; border: 0;}
a:hover, a:active { outline: none; }/*
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }*/
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #000; color:#fff; text-shadow: none; }
::selection { background:#000; color:#fff; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #FF5E99; } 

html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* reset section [END] */

/* font-family: "GloberThin"; */
@font-face {
    font-family: 'GloberThin';
    src: url('fonts/GloberThin/GloberThin.eot');
    src: url('fonts/GloberThin/GloberThin.eot?#iefix')format('embedded-opentype'),
    url('fonts/GloberThin/GloberThin.woff') format('woff'),
    url('fonts/GloberThin/GloberThin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GloberBold"; */
@font-face {
    font-family: "GloberBold";
    src: url("fonts/GloberBold/GloberBold.eot");
    src: url("fonts/GloberBold/GloberBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/GloberBold/GloberBold.woff") format("woff"),
    url("fonts/GloberBold/GloberBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* PAGE STYLES */
body{font-family:GloberThin; color:#2a2a2a;}
.orange{background:#f39323; margin:0px;}
.blue{background:#02aef0;}
.violet{background:#90278e;}
.green{background:#9cbb43;}


/* HEADER STYLES */
.site-title{margin:0;}
#logo{float:left; margin:35px 40px 24px 0;}
.tegs{margin-top:40px;}
.date{font-size:23px;text-transform: uppercase; margin-bottom:10px;}
.place{font-family: GloberBold;  font-size:27px;text-transform: uppercase;}
.right{float:right; margin:0;}
.social{margin:24px 0 20px; float:right;}
.social a:before{content: ""; width: 34px; height: 34px; display: inline-block;  background:#FFF url(img/sprite.png) 0 0 no-repeat;} 
.social a[href]{ margin-right: 10px; }
.social a[href]:last-child{margin-right: 0px;}
a.twitt:hover:before{background-position: 0px -33px;}
a.twitt:before {background-position: 0px 0px;}
a.facebook:hover:before{background-position: -33px -33px;}
a.facebook:before{background-position: -33px 0px;}
a.vk:hover:before{background-position: -67px -33px;}
a.vk:before{background-position: -67px 0px;}
a.google:hover:before{background-position: -103px -33px; }
a.google:before{background-position: -102px 0px;}
a.youtube:hover:before{background-position: -135px -33px;}
a.youtube:before{background-position: -135px 0px;}
.languages { text-transform:uppercase; float: right;  }
.languages a{padding-right:10px; border-right:1px solid #b4b4b4;}
.languages a:last-child{ color:#b4b4b4; padding:0 0 0 10px; border-left:1px solid #b4b4b4;border-right:0;margin-left: -4px;}
.active {color:#343239; font-family: GloberBold;} 

/* NAV STYLES */
ul.span12{margin:0px;}
nav{background:#fafafa;}
nav ul{font-size:0px;}
nav ul li{font-size:22px;}
li {display: inline-block;}
nav li{ text-align: center; padding: 23px 0 14px;}
nav a{font-family:GloberBold;  color:#fff; text-transform: uppercase; }
li.orange.span3 {margin: 0px;}

/* SLIDER STYLES */
.fotorama__wrap{margin:0 auto;}
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {background: url("img/arrow.png") no-repeat; }
.fotorama__arr{width:28px; height:59px; margin-top:-30px;}
.fotorama__arr--prev{background-position:0 0;left:80px;}
.fotorama__arr--next{background-position:-28px 0;right:80px;}

/* CONTENT STYLES */
#content{margin:50px 0;}
.span6.left {max-width: 560px; margin:0px;}
.span6.right {max-width: 560px;margin:0px;}
.posts{min-height:230px;}
.post_name{padding: 20px 0 20px 28px;}
.post1 {background:#f39323 url(img/post1.jpg)no-repeat 100% 0;}
.post2 {background:#02aef0 url(img/post2.jpg)no-repeat 100% 0;}
.post3 {background:#90278e url(img/post3.jpg)no-repeat 100% 0;}
.post4 {background:#9cbb43 url(img/post4.jpg)no-repeat 100% 0;}
h3{font-family:GloberBold; font-size:22px; color:#fff; line-height:20px;}
#content p{font-size:20px; line-height: 25px; margin:34px 0 10px;}
#content span,#content h3,#content a{text-transform:uppercase;}
#content a{ font-family:GloberBold;  color:#2a2a2a; font-size:16px; text-decoration:underline;}

/* FOOTER STYLES */
footer { background:#1d2124;color:#98989a; font-size:15px; font-family: "GloberRegular"; padding: 22px;}
footer a{color:#fff;}

/* MEDIA */
@media (max-width:1200px){
	.social a[href]{ margin-right: 5px; }
	nav a{font-size: 19px;}
}
@media (min-width: 1200px){
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container,.span12 {width: 1180px;}
[class*="span"]{margin-left: 20px;}
.span3{width:280px;}
}
